#reddit-image{
    height: 625x;
    width: 625px;
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    
}

#newbutton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#Poster{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

#foot{
    border: black;
    border-width: 10PX;
    text-align: center;
}

body{
    
    background-color: mediumaquamarine;
}

#title{
    text-align: center;
}

#newbutton:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  #Link{
    text-align: center;
  }


  